:root {
  --data: #008080;
  --posts: #fffafa;
}
body {
  margin: 0;
}
.post-container {
  width: 70%;
  margin: 0 auto;
  background-color: var(--posts);
}
.post {
  padding: 20px 30px 20px 60px;
}
.date {
  font-family: "Roboto";
  color: var(--data);
  font-weight: bold;
}
h1 {
  font-family: "Montserrat";
}
.post-content {
  font-family: "Open Sans";
}
/*  aeee comentario  */
