.footer
    background-color: black
    color: white
    font-size: 12px
.copyPedro
    color: $copyright
.copylink:hover
    color: $linkHover
.copylink
    text-decoration: none
    color: white
.logo-pc
    width: 250px
#HeaderAncor:hover
    color: $linkHover


// media query
@media screen and ( max-width: 405px  )
    .logo-pc
        width: 180px
    .footer
        font-size: 10px
@media screen and ( max-width: 350px  )
    .logo-pc
        width: 150px
