* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  gap: 0 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item {
  width: 200px;
  border: 2px solid black;
  background-color: white;
  font-size: 30px;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.container-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
